@model IEnumerable<CapaEntidad.entHabitacion>

@{
    ViewBag.Title = "Gestionar Habitaciones del Hotel";
    ViewBag.image = "/Contents/images/security.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="display-4 ">Lista de Habitaciones del Hotel</h2>

<p>
    @Html.ActionLink("Agregar Nueva Habitacion", "Create")
</p>
<table class="table sortable">
    <thead class="thead-dark">
        <tr>
            <th scope="col" onclick="sortTable(0, 'int')">Id Habitacion</th>
            <th scope="col" onclick="sortTable(1, 'int')"> Numero De Habitacion</th>
            <th scope="col" onclick="sortTable(2, 'str')"> Descripcion</th>
            <th scope="col" onclick="sortTable(3, 'int')">Id Tipo Habitacion </th>
            <th scope="col" onclick="sortTable(4, 'str')">Desc. Tipo Habitacion </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idHabitacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numeroHabitacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descHabitacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idTipoHabitacion.idTipoHabitacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idTipoHabitacion.desTipoHabitacion)
                </td>
                <td></td>
            </tr>
        }
    </tbody>

</table>

<a href="@Url.Action("Index","MenuIntranet")">
    <h4>Volver al Panel de Gestion</h4>
</a>

@Scripts.Render("~/bundles/OrdenarTablas")
