@{
    ViewBag.Title = "Habitaciones";
    ViewBag.image = "/Contents/images/Habitaciones.jpg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- END head -->
<!-- END section -->

<section class="section pb-4">
    <div class="container">

        <div class="row check-availabilty" id="next">
            <div class="block-32" data-aos="fade-up" data-aos-offset="-200">

                <form action="#">
                    <div class="row">
                        <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                            <label for="checkin_date" class="font-weight-bold text-black">Fecha de Entrada</label>
                            <div class="field-icon-wrap">
                                <div class="icon"><span class="icon-calendar"></span></div>
                                <input type="text" id="checkin_date" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                            <label for="checkout_date" class="font-weight-bold text-black">Fecha de Salida</label>
                            <div class="field-icon-wrap">
                                <div class="icon"><span class="icon-calendar"></span></div>
                                <input type="text" id="checkout_date" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
                            <div class="row">
                                <div class="col-md-6 mb-3 mb-md-0">
                                    <label for="adults" class="font-weight-bold text-black">Adultos</label>
                                    <div class="field-icon-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="" id="adults" class="form-control">
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                            <option value="">4+</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3 mb-md-0">
                                    <label for="children" class="font-weight-bold text-black">Niños</label>
                                    <div class="field-icon-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="" id="children" class="form-control">
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                            <option value="">4+</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 align-self-end">
                            <button class="btn btn-primary btn-block text-white">Consultar Disponibilidad</button>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>
</section>


<section class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
                <a href="@Url.Action("InsertarReservaUsuario","MantenedorReserva")" class="room">
                    <figure class="img-wrap">
                        <img src="~/Contents/images/habitacion_simple.jpg" alt="Free website template" class="img-fluid mb-3">
                    </figure>
                    <div class="p-3 text-center room-info">
                        <h2>Habitacion Simple</h2>
                        <span class="text-uppercase letter-spacing-1">S/ 90 | por noche</span>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
                <a href="@Url.Action("InsertarReservaUsuario","MantenedorReserva")" class="room">
                    <figure class="img-wrap">
                        <img src="/Contents/images/habitacion_doble.jpg" alt="Free website template" class="img-fluid mb-3">
                    </figure>
                    <div class="p-3 text-center room-info">
                        <h2>Habitacion Doble</h2>
                        <span class="text-uppercase letter-spacing-1">S/ 120 | por noche</span>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
                <a href="@Url.Action("InsertarReservaUsuario","MantenedorReserva")" class="room">
                    <figure class="img-wrap">
                        <img src="~/Contents/images/habitacion_triple.jpg" alt="Free website template" class="img-fluid mb-3">
                    </figure>
                    <div class="p-3 text-center room-info">
                        <h2>Habitacion Triple</h2>
                        <span class="text-uppercase letter-spacing-1">S/ 150 | por noche</span>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
                <a href="@Url.Action("InsertarReservaUsuario","MantenedorReserva")" class="room">
                    <figure class="img-wrap">
                        <img src="~/Contents/images/habitacion_matrimonial.jpg" alt="Free website template" class="img-fluid mb-3">
                    </figure>
                    <div class="p-3 text-center room-info">
                        <h2>Habitacion Matrimonial</h2>
                        <span class="text-uppercase letter-spacing-1">S/ 199 | por noche</span>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
                <a href="@Url.Action("InsertarReservaUsuario","MantenedorReserva")" class="room">
                    <figure class="img-wrap">
                        <img src="~/Contents/images/img_3.jpg" alt="Free website template" class="img-fluid mb-3">
                    </figure>
                    <div class="p-3 text-center room-info">
                        <h2>Suite Junior</h2>
                        <span class="text-uppercase letter-spacing-1">S/ 299 | por noche</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light">

    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-7">
                <h2 class="heading" data-aos="fade">Descuentos Semanales</h2>
                <p data-aos="fade">Los mejores precios solo en el Hotel "La Posada del Rey"</p>
            </div>
        </div>

        <div class="site-block-half d-block d-lg-flex bg-white" data-aos="fade" data-aos-delay="100">
            <a href="@Url.Action("InsertarReservaUsuario","MantenedorReserva")" class="image d-block bg-image-2" style="background-image: url('/Contents/images/habitacion_matrimonial.jpg');"></a>
            <div class="text">
                <span class="d-block mb-4"><span class="display-4 text-primary">S/ 160</span> <span class="text-uppercase letter-spacing-2">/ por noche</span> </span>
                <h2 class="mb-4">Habitacion Matrimonial</h2>
                <p>Tranquila y confortable. Además de una cuidada decoración cuenta con todos los servicios necesarios para tener una estancia inolvidable.</p>
                <p><a href="@Url.Action("InsertarReservaUsuario","MantenedorReserva")" class="btn btn-primary text-white">Reservar Ahora</a></p>
            </div>
        </div>
        <div class="site-block-half d-block d-lg-flex bg-white" data-aos="fade" data-aos-delay="200">
            <a href="@Url.Action("InsertarReservaUsuario","MantenedorReserva")" class="image d-block bg-image-2 order-2" style="background-image: url('/Contents/images/img_3.jpg');"></a>
            <div class="text order-1">
                <span class="d-block mb-4"><span class="display-4 text-primary">S/ 140</span> <span class="text-uppercase letter-spacing-2">/ por noche</span> </span>
                <h2 class="mb-4">Suite Junior</h2>
                <p>Es la suite idónea para altos ejecutivos que desean comodidad y espacios separados para descansar y trabajar. Además de una cuidada decoración donde Ud. tendrá un servicio de calidad.</p>
                <p><a href="@Url.Action("InsertarReservaUsuario","MantenedorReserva")" class="btn btn-primary text-white">Reservar Ahora</a></p>
            </div>
        </div>

    </div>
</section>
