@model CapaEntidad.entCliente

@{
    ViewBag.Title = "Panel de Edicion de Clientes";
    ViewBag.image = "/Contents/images/security.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    

        <div class="form-horizontal">
            <h2 class="display-4">Editar Cliente</h2>
            @Html.ValidationSummary(true)


            <div class="form-horizontal">
                <p class = "control-label col-md-2">IdCliente</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.idCliente, new { htmlAttributes = new { @class = "form-control", required = true, placeholder = "Numero de Identificacion del Cliente", @id = "validationDefault01", type = "number" } })
                @Html.ValidationMessageFor(model => model.idCliente)
            </div>

            <div class="form-horizontal">
                <p class="control-label col-md-2">Nombre del Cliente</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombreCliente, new { htmlAttributes = new { @class = "form-control", required = true, placeholder = "Nombre del Cliente", @id = "validationDefault02", type = "text" } })
                @Html.ValidationMessageFor(model => model.nombreCliente)
            </div>

            <div class="form-horizontal">
                <p class="control-label col-md-2">Apellido del Cliente</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellidoCliente, new { htmlAttributes = new { @class = "form-control", required = true, placeholder = "Apellido del Cliente", @id = "validationDefault03", type = "text" } })
                @Html.ValidationMessageFor(model => model.apellidoCliente)
            </div>

            <div class="form-horizontal">
                <p class="control-label col-md-2">Dni del Cliente</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DNI, new { htmlAttributes = new { @class = "form-control", required = true, maxlength = 8, placeholder = "Dni del Cliente", @id = "validationDefault03", @type = "number" } })
                @Html.ValidationMessageFor(model => model.DNI)
            </div>

            <div class="form-horizontal">
                <p class="control-label col-md-2">Telefono del Cliente</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control", maxlength = 8, required = true, placeholder = "Telefono del Cliente", @id = "validationDefault04", @type = "number" } })
                @Html.ValidationMessageFor(model => model.telefono)
            </div>

            <div class="form-horizontal">
                <p class="control-label col-md-2">¿Cliente Activado?</p>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.estCliente, new { htmlAttributes = new { required = true, @id = "invalidCheck2", @type = "checkbox" } })
                @Html.ValidationMessageFor(model => model.estCliente)
            </div>

            <div class="form-horizontal">
                <p class="control-label col-md-2">Tipo de Cliente:</p>
                <div class="col-md-10">
                    @Html.DropDownList("cboTipoCliente", (SelectList)ViewBag.listaTipoCliente, "<seleccionar>", new { @class = "custom-select", @id = "inputState", required = true })
                </div>
            </div>

            <div class="form-horizontal">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-outline-primary" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Volver a la Pagina Anterior", "ListarCliente")
</div>
