@model CapaEntidad.entCliente

@{
    ViewBag.Title = "Insertar Cliente";
    ViewBag.image = "/Contents/images/security.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
}





<div class="col-md-7" data-aos="fade-up" data-aos-delay="100">

    <form action="#" method="post" class="bg-white p-md-5 p-4 mb-5 border">
        <fieldset>
            <legend>Agregar un Nuevo Cliente</legend>


            <div class="editor-label">
                Nombres
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.nombreCliente,new{htmlAttributes = new{@class = "form-control", required = true,placeholder = "Nombre del Cliente", @id= "validationDefault01" ,type="text"} })
                @Html.ValidationMessageFor(model => model.nombreCliente)
            </div>

            <div class="editor-label">
                Apellidos
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.apellidoCliente , new { htmlAttributes = new { @class = "form-control", required = true, placeholder = "Apellido del Cliente", @id = "validationDefault02", type = "text" } })
                @Html.ValidationMessageFor(model => model.apellidoCliente)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DNI)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DNI, new { htmlAttributes = new { @class = "form-control", required = true, maxlength = 8,placeholder = "Dni del Cliente", @id = "validationDefault03", @type = "number" } })
                @Html.ValidationMessageFor(model => model.DNI)
            </div>

            <div class="editor-label">
                Telefono
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control", maxlength = 8, required = true, placeholder = "Telefono del Cliente", @id = "validationDefault04", @type = "number" } })
                @Html.ValidationMessageFor(model => model.telefono)
            </div>

            <div class="editor-label">
                Activar Cuenta del Cliente
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.estCliente, new { htmlAttributes = new { required = true,  @id = "invalidCheck2", @type = "checkbox" } })
                @Html.ValidationMessageFor(model => model.estCliente)
            </div>


            <div class="form-group">
                Tipo de Cliente:
                <div>
                    @Html.DropDownList("cboTipoCliente", (SelectList)ViewBag.listaTipoCliente, "<seleccionar>", new { @class = "custom-select", @id = "inputState", required = true })
                </div>
            </div>

            <p>
                <input type="submit" class="btn btn-primary" value="Agregar" />
            </p>
        </fieldset>
    </form>

</div>


<div>
    @Html.ActionLink("Volver a la Pagina Anterior", "Index")
</div>
