@model IEnumerable<CapaEntidad.entCliente>

@{
    ViewBag.Title = "Gestionar Clientes del Hotel";
    ViewBag.image = "/Contents/images/security.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="display-4 ">Lista de Clientes del Hotel</h2>
<p>
    @Html.ActionLink("Agregar Nuevo Cliente", "InsertarCliente")
</p>
<table class="table sortable">

    <thead class="thead-dark">
        <tr>
            <th scope="col" onclick="sortTable(0, 'int')">Id</th>
            <th scope="col" onclick="sortTable(1, 'str')">Nombre</th>
            <th scope="col" onclick="sortTable(2, 'str')">Apellido</th>
            <th scope="col" onclick="sortTable(3, 'int')">Dni</th>
            <th scope="col" onclick="sortTable(4, 'int')">Telefono</th>
            <th scope="col">Estado</th>
            <th scope="col" onclick="sortTable(5, 'str')">Tipo</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.idCliente)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidoCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DNI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idTipoCliente.desTipoCliente)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarCliente", new { idCliente = @item.idCliente }) |
                    <a href="/MantenedorCliente/EliminarCliente?idCliente=@item.idCliente " onclick="prueba()">Eliminar</a>
                    <script>

                        function prueba() {

                            const swalWithBootstrapButtons = Swal.mixin({
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                    cancelButton: 'btn btn-danger'
                                },
                                buttonsStyling: false,
                            })

                            swalWithBootstrapButtons.fire({
                                title: 'Are you sure?',
                                text: "You won't be able to revert this!",
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonText: 'Yes, delete it!',
                                cancelButtonText: 'No, cancel!',
                                reverseButtons: true
                            }).then((result) => {
                                if (result.value) {
                                    swalWithBootstrapButtons.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                    )
                                } else if (
                                    // Read more about handling dismissals
                                    result.dismiss === Swal.DismissReason.cancel
                                ) {
                                    swalWithBootstrapButtons.fire(
                                        'Cancelled',
                                        'Your imaginary file is safe :)',
                                        'error'
                                    )
                                }
                            })
                        }


                    </script>


                </td>
            </tr>
        }
    </tbody>

</table>

<a href="@Url.Action("Index","MenuIntranet")">
    <h4>Volver al Panel de Gestion</h4>
</a>

@Scripts.Render("~/bundles/OrdenarTablas")

<script type="text/javascript" src="~/Contents/sweetalert2/sweetalert2.all.js"></script>
<link rel="stylesheet" href="~/Contents/sweetalert2/sweetalert2.css">

