@using CapaEntidad
@{
    entUsuario u = (entUsuario)Session["usuario"];
}

<!DOCTYPE HTML>
<html>
<head>
    @using System.Web.Optimization
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hotel La Posada del Rey - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!--
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=|Roboto+Sans:400,700|Playfair+Display:400,700">
    -->

    <link rel="stylesheet" href="~/Contents/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="~/Contents/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Contents/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/Contents/css/animate.css">
    <link rel="stylesheet" href="~/Contents/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Contents/css/aos.css">
    <link rel="stylesheet" href="~/Contents/css/fancybox.min.css">

    <link rel="stylesheet" href="~/Contents/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Contents/fonts/fontawesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Contents/FontAwesomeIcon/css/all.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="~/Contents/css/style.css">

    @Styles.Render("~/bundles/css")
</head>

<body>

    <header class="site-header js-site-header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-6 col-lg-4 site-logo" data-aos="fade"><a href="/"></a></div>
                <div class="col-6 col-lg-8">

                    <div class="site-menu-toggle js-site-menu-toggle" data-aos="fade">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <!-- END menu-toggle -->
                    <div class="site-navbar js-site-navbar">
                        <nav role="navigation">
                            <div class="container">
                                <div class="row full-height align-items-center">
                                    <div class="col-md-6 mx-auto">
                                        <ul class="list-unstyled menu">
                                            <li class="nav-item active">@Html.ActionLink("Home", "Index", "Inicio")</li>
                                            @if (u != null)   //USUARIO INICIO SESION
                                            {
                                                if (u.tipo == true) //Tipo Administrador
                                                {
                                                    <li class="nav-item">@Html.ActionLink("Mi Cuenta - Admin", "Index", "MenuIntranet")</li>
                                                    <li class="nav-item">@Html.ActionLink("Gestionar Reservas", "Index", "MantenedorReserva")</li>
                                                    <li class="nav-item">@Html.ActionLink("Gestionar Clientes", "Index", "MantenedorCliente")</li>
                                                    <li class="nav-item">@Html.ActionLink("Gestionar Habitaciones", "Index", "MantenedorHabitacion")</li>
                                                }
                                                else //Tipo Clientes
                                                {
                                                    <li class="nav-item">@Html.ActionLink("Mi Cuenta", "Index", "MenuIntranet")</li>
                                                }
                                                <li class="nav-item">@Html.ActionLink("Habitaciones", "Habitaciones", "Inicio")</li>
                                                <li class="nav-item">@Html.ActionLink("Acerca De", "About", "Inicio")</li>
                                                <li class="nav-item">@Html.ActionLink("Eventos", "Eventos", "Inicio")</li>
                                                <li class="nav-item">@Html.ActionLink("Reservaciones", "Reservaciones", "Inicio")</li>

                                                <a href="/Login/Logout" class="btn btn-primary btn-lg active" role="button">Cerrar Sesion</a>

                                            }
                                            else
                                            {
                                                <li class="nav-item">@Html.ActionLink("Login", "Index", "Login")</li>
                                                <li class="nav-item">@Html.ActionLink("Habitaciones", "Habitaciones", "Inicio")</li>
                                                <li class="nav-item">@Html.ActionLink("Acerca De", "About", "Inicio")</li>
                                                <li class="nav-item">@Html.ActionLink("Eventos", "Eventos", "Inicio")</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @{
        string urlObtenida = HttpContext.Current.Request.Url.AbsoluteUri;
        string rutaPrincipal = "http://localhost:56998/";

        if (urlObtenida.Equals(rutaPrincipal))
        {
            <section class="site-hero overlay " style="background-image: url(/Contents/images/Background_Fondo.jpg)" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row site-hero-inner justify-content-center align-items-center">
                        <div class="col-md-10 text-center" data-aos="fade-up">
                            <span class="custom-caption text-uppercase text-white d-block  mb-3">Welcome To 5 <span class="fa fa-star text-primary"></span>Hotel</span>
                            <h1 class="heading">Hotel la Posada del Rey</h1>
                        </div>
                    </div>
                </div>
                <a class="mouse smoothscroll" href="#next">
                    <div class="mouse-icon">
                        <span class="mouse-wheel"></span>
                    </div>
                </a>
            </section>
        }
        else
        {
            <section class="site-hero overlay" style="background-image: url(@ViewBag.image)" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row site-hero-inner justify-content-center align-items-center">
                        <div class="col-md-10 text-center" data-aos="fade">
                            <h1 class="heading mb-3">@ViewBag.Title</h1>
                            <ul class="custom-breadcrumbs mb-4">
                                <li><a href="/">Home</a></li>
                                <li>&bullet;</li>
                                <li>@ViewBag.Title</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <a class="mouse smoothscroll" href="#next">
                    <div class="mouse-icon">
                        <span class="mouse-wheel"></span>
                    </div>
                </a>
            </section>
        }
    }


    @RenderBody()
    <footer class="section footer-section">
        <div class="container">
            <div class="row mb-4">
                <div class="col-md-3 mb-5">
                    <ul class="list-unstyled link">
                        <li>@Html.ActionLink("Acerca De", "About", "Inicio")</li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li>@Html.ActionLink("Habitaciones", "Habitaciones", "Inicio")</li>
                    </ul>
                </div>
                <div class="col-md-3 mb-5">
                    <ul class="list-unstyled link">
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Restaurant</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-5 pr-md-5 contact-info">
                    <!-- <li>198 West 21th Street, <br> Suite 721 New York NY 10016</li> -->
                    <p><span class="d-block"><span class="ion-ios-location h5 mr-3 text-primary"></span>Direccion:</span> <span> Urb. La Merced, Trujillo-Perú, <br> Calle, Jose Antonio Andueza #289</span></p>
                    <p><span class="d-block"><span class="ion-ios-telephone h5 mr-3 text-primary"></span>Telefono:</span> <span>51-44-200442 | 51-44-207682 | 51-44-618430</span></p>
                    <p><span class="d-block"><span class="ion-ios-email h5 mr-3 text-primary"></span>Email:</span> <span>reservas@laposadadelrey-peru.com</span></p>
                </div>
                <div class="col-md-3 mb-5">
                    <p>Contactenos!</p>
                    <form action="#" class="footer-newsletter">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email...">
                            <button type="submit" class="btn"><span class="fa fa-paper-plane"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row pt-5">
                <p class="col-md-6 text-left">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Todos los derechos Reservados  <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://www.upn.edu.pe/es" target="_blank">UPN</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <p class="col-md-6 text-right social">
                    <a href="https://www.tripadvisor.com.pe/Hotel_Review-g298444-d1948288-Reviews-Hotel_La_Posada_del_Rey-Trujillo_La_Libertad_Region.html" target="_blank"><span class="fa fa-tripadvisor"></span></a>
                    <a href="https://web.facebook.com/laposadadelrey/" target="_blank"><span class="fa fa-facebook"></span></a>
                    <a href="https://twitter.com/h_posadadelrey" target="_blank"><span class="fa fa-twitter"></span></a>
                    <a href="https://es.linkedin.com/company/hotel-la-posada-del-rey" target="_blank"><span class="fa fa-linkedin"></span></a>
                    <a href="https://www.youtube.com/channel/UCBO0P2iOsb7WUXS-iRCm98g" target="_blank"><span class="ion-social-youtube"></span></a>
                </p>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="~/Contents/js/aos.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Scripts.Render("~/bundles/js")
</body>
</html>