@model CapaEntidad.entReserva

@{
    ViewBag.Title = "Eliminar Reserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EliminarReserva</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>entReserva</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idReserva)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idReserva)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechaIncioReserva)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaIncioReserva)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fechaFinReserva)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaFinReserva)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstReserva)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstReserva)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
