@model CapaEntidad.entReserva

@{
    ViewBag.Title = "Insertar Reserva de Clientes";
    ViewBag.image = "/Contents/images/security.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Agregar Reserva</legend>

   

    <div class="editor-label">
        Fecha de Inicio
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.fechaIncioReserva, new { @class = "form-control", @id = "checkin_date" })
        @Html.ValidationMessageFor(model => model.fechaIncioReserva)
    </div>

    <div class="editor-label">
        Fecha de Fin
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.fechaFinReserva, new { @class = "form-control", @id = "checkin_date" })
        @Html.ValidationMessageFor(model => model.fechaFinReserva)
    </div>

    <div class="form-group">
        Nombre de Cliente:
        <div class="col-md-10">
            @Html.DropDownList("cboCliente", (SelectList)ViewBag.listaCliente, "<seleccionar>")
        </div>
    </div>

    <div class="form-group">
        N° de Habitacion:
        <div class="col-md-10">
            @Html.DropDownList("cboHabitacion", (SelectList)ViewBag.listaHabitacion, "<seleccionar>")
        </div>
    </div>

    <p>
        <input type="submit" value="Create" />
    </p>
</fieldset>
}

<div>
    @Html.ActionLink("Volver a Gestionar Reservas", "Index")
</div>
