@model IEnumerable<CapaEntidad.entReserva>

@{
    ViewBag.Title = "Reservas";
    ViewBag.image = "/Contents/images/security.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <a href="@Url.Action("InsertarReservaUsuario","MantenedorReserva")">
        <h4>Nueva Reserva</h4>
    </a>
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">N° de Habitacion</th>
            <th scope="col">Ubicacion</th>
            <th scope="col">Descripcion Tipo Habitacion</th>
            <th scope="col">Fecha de Inicio</th>
            <th scope="col">Fecha de Fin</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idCliente.nombreCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idCliente.apellidoCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idHabitacion.numeroHabitacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idHabitacion.descHabitacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idHabitacion.idTipoHabitacion.desTipoHabitacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaIncioReserva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaFinReserva)
                </td>
            </tr>
        }

    </tbody>

</table>

<a href="@Url.Action("Index","MenuIntranet")">
    <h4>Volver al Panel de Gestion</h4>
</a>

