@model IEnumerable<CapaEntidad.entReserva>

@{
    ViewBag.Title = "Gestionar Reservas de Clientes";
    ViewBag.image = "/Contents/images/security.png";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Nueva Reserva", "InsertarReserva")
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id Reserva</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">N° de Habitacion</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Descripcion Tipo Habitacion</th>
            <th scope="col">Fecha de Inicio</th>
            <th scope="col">Fecha de Fin</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">
                @Html.DisplayFor(modelItem => item.idReserva)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.idCliente.nombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idCliente.apellidoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idHabitacion.numeroHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idHabitacion.descHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idHabitacion.idTipoHabitacion.desTipoHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaIncioReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaFinReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstReserva)
            </td>
            <td>
                @Html.ActionLink("Eliminar", "EliminarReserva", new { idReserva = @item.idReserva })
            </td>
        </tr>
        }

    </tbody>
        
</table>

<a href="@Url.Action("Index","MenuIntranet")">
    <h4>Volver al Panel de Gestion</h4>
</a>
